<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Expeience</title>

    <!-- Main css -->
    <link rel="stylesheet" href="/css/experience.css">
    <link rel="stylesheet" href="/css/nav.css"> 
</head>

<body>
    <div class="main">
     {{>nav}} 


        <section class="signup">
            
            <div class="container">
                <div class="signup-content">
                    <form action="/add/experience" method="post" id="signup-form" class="signup-form">
                        <div class="form-row">
                            <div class="form-group">
                                <label for="StudentName">Student name</label>
                                <input type="text" class="form-input" name="StudentName" id="StudentName" placeholder="e.g First_name Last_name"/>
                            </div>
                            <div class="form-group">
                                <label for="CompanyName">Company name</label>
                                <input type="text" class="form-input" name="CompanyName" id="CompanyName" placeholder="e.g Google"/>
                            </div>
                        </div>
                        <div class="form-row">

                            <div class="form-radio">
                                <label for="mode">Mode</label>
                                <div class="form-flex">
                                    <input type="radio" name="mode" value="online" id="online" checked="checked" />
                                    <label for="online">ONLINE</label>

                                    <input type="radio" name="mode" value="offline" id="offline" />
                                    <label for="offline">OFFLINE</label>
                                </div>
                            </div>
                            <div class="form-radio">
                                <label for="campus">Campus</label>
                                <div class="form-flex">
                                    <input type="radio" name="campus" value="On Campus" id="oncampus" checked="checked" />
                                    <label for="oncampus">ON</label>

                                    <input type="radio" name="campus" value="Off Campus" id="offcampus" />
                                    <label for="offcampus">OFF</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="jobRole">JOB ROLE</label>
                                <input type="text" class="form-input" name="jobRole" id="jobRole" placeholder="e.g SDE" />
                            </div>
                            <div class="form-group">
                                <label for="package">Package(CTC)in LPA</label>
                                <input type="text" class="form-input" name="package" id="package" placeholder="e.g 11.5"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group form-icon">
                                <label for="placeDate">Place date</label>
                                <input type="text" class="form-input" name="placeDate" id="placeDate" placeholder="MM-DD-YYYY" />
                            </div>
                            <div class="form-radio">
                                <label for="intershipOffer">INTERSHIP OFFER</label>
                                <div class="form-flex">
                                    <input type="radio" name="intershipOffer" value="yes" id="yes" checked="checked" />
                                    <label for="yes">YES</label>
                                    <input type="radio" name="intershipOffer" value="no" id="no" />
                                    <label for="no">NO</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-input" name="email" id="email" />
                            </div>
                        </div>
                        <div id="rounds">
                            <div id="singleRound">
                                <div class="form-row">
                                    <div class="form-group">
                                        <label>Round 1</label>
                                        <input type="text" class="form-input" name="round1" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group">
                                        <label for="experience1">Experience</label>
                                        <textarea class="form-control" id="textAreaExample1" rows="9" cols="65" name="experience1">
                                    </textarea>
                                    </div>
                                </div>
                            </div>
                         <button onclick="render()" id="demo" class="addButton">Add  Round </button>
                        </div>


                        <div class="form-row">
                            <div class="form-group">
                                <label class="form-label" for="textAreaExample">Message/TIP</label>
                                <textarea class="form-control" id="textAreaExample1" rows="5" cols="65" name="message"></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label class="form-label" for="textAreaExample">Resources to follow</label>
                                <textarea class="form-control" id="textAreaExample1" rows="5" cols="65" name="source"></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-radio">
                                <label for="level">Interview level</label>
                                <div class="form-flex">
                                    <input type="radio" name="level" value="easy" id="easy" />
                                    <label for="easy">EASY</label>
                                    <input type="radio" name="level" value="medium" id="medium" checked="checked" />
                                    <label for="medium">MEDIUM</label>
                                    <input type="radio" name="level" value="hard" id="hard" />
                                    <label for="hard">DIFFICULT</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" id="submit" class="form-submit" value="Submit" />
                        </div>
                    </form>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->

    <script src="/js/experience.js"></script>
    <script src=" /js/main.js "></script> 

</body>

</html>