
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        
        <h1>i<span>Experience</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>

          <li class="dropdown"><a href="/"><span>Home</span></a> </li>
          <li><a class="nav-link scrollto" href="/register">Add</a></li>
          <li><a class="nav-link scrollto" href="/">Feedback</a></li>
          <li><a class="nav-link scrollto" href="/">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle d-none"></i>
      </nav><!-- .navbar -->

      {{!-- <a class="btn-getstarted scrollto" href="#recent-blog-posts">Experiences</a> --}}

    </div>
  </header><!-- End Header -->
