* {
    box-sizing: border-box;
    margin: 0px;
    
  }
  
  body {
    /* margin:px; */
    font-size: 13px;
    line-height: 1.8;
    color: #222;
    /* font-weight: 600; */
    font-family: 'Montserrat';
    background: #fff;
    padding: 15px;
    /* background: radial-gradient(black, transparent); */
  }
  
  .nav {
    margin-top: 25px;
    margin-left: 7px;
    margin-right: -20px;
    height: 100px;
    width: 166%;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    background-color: none;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: rgb(37, 31, 31);
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #1da0f2;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }


  /* @media (min-width:1000px) {
    .nav{
  
    margin-left: 318px;
    margin-right: 80px;
    height: 105px;
    width: 60%;
    }
  } */

  .container{
    margin-top: 50px;
  }
  
   