* {
    box-sizing: border-box;
  }
  
  body {
      margin: auto;
    font-size: 13px;
    line-height: 1.8;
    color: #222;
    font-weight: 600;
    font-family: 'Montserrat';
    background: #fff;
    padding: 36px 0;
    background: radial-gradient(black, transparent);
  }
  
  .nav {
    margin-left: 25px;
    margin-right: 20px;
    height: 100px;
    width: 90%;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    background-color: none;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: rgb(37, 31, 31);
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #1da0f2;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }


  @media (min-width:1000px) {
    .nav{
  
    margin-left: 318px;
    margin-right: 80px;
    height: 105px;
    width: 60%;
    }
  }

  .container{
    width: 680px;
    position: relative;
    margin: 0 auto;
    box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.1);
    background: #fff;
  }
  